{% extends "base.html" %}

{% block content %}
<div class="content-section"
     style="background: #FAF0E6;
            padding: 10px 20px;
            border: 1px solid #dddddd;
            border-radius: 2px;
            margin-top: 20px;
            margin-left: 20px;
            margin-left: 20px">
    <a href = "http://loadbalancer-499649262.us-east-1.elb.amazonaws.com:5000">Load Balancer DNS Name: http://loadbalancer-499649262.us-east-1.elb.amazonaws.com:5000</a>
</div>
{% endblock content %}